@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "funnel sans", sans-serif
}

.flex-container{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: #efefef
  padding: 2rem;
}

article{
  order: 0;
  background-color: #fdf8f8;
  padding: 2rem;
  flex: 1;
  
}

.flex-item1{
  flex-grow: 2;
  
}